.blog-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 40px;
}

@media (min-width: 768px) {
  .blog-content {
    flex-direction: row;
    gap: 40px;
  }

  .blog_form {
    flex-basis: 25%;
    align-items: center;
  }

  .blog_post {
    flex-basis: 75%;
  }
}
