<div class="blog-content">
  <section class="blog_form">
    <!-- <aside>
      <label for="title">Titulo</label>
      <input type="text" name="title">

      <label for="image">Imagen</label>
      <input type="text" name="image">

      <label for="body">Mensaje</label>
      <input type="text" name="body">
    </aside> -->
  </section>

  <section class="blog_post">
    <!-- <article>
      <p>Titulo 1</p>
      <img src=""/>
      <p>MENSAJE: auishduyagdsygadgasdgasudgsgadyuasduygasgdasuyduasygdgaduigaduygadugasduyauydgasuydgusay</p>
    </article> -->
  </section>
</div>
